body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #a90a2e;
    color: white;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin: 0;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.yellow-circle {
    width: 50px;
    height: 50px;
    background-color: #f1bf01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    position: absolute;
    top: 3%;
    right: 1%;
}

.yellow-circle img {
    width: 80%;
    height: auto;
}


.upchLogo {
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0.1%;

}

.upchLogo img {
    width: 100%;
    height: 100%;
}

.circleOfFacultys {
    position: relative;
    top: 50%;
    left: 10%;
    right: 10%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin: 0 auto;
}


.mainLobby {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.middleMan {
    width: 40%;
    height: auto;
}

@media (max-width: 930px) {
    .mainLobby {
        flex-direction: column;
    }

    .circleOfFacultys {
        width: 80vw;
        height: 80vw;
    }
}


.circleOfCareer,
.circleOfInformatica,
.circleOfAmbiental,
.circleOfBiomedica,
.circleOfIndustrial {
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 0 auto;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.circleOfInformatica {
    display: none;
    opacity: 0;
    transform: scale(0.8);
    background-color: #a90a2e;
    background-image: url('/imagesinformatica.webp');
    background-size: cover;
    background-position: center;
}

.circleOfAmbiental {
    display: none;
    opacity: 0;
    transform: scale(0.8);
    background-color: #a90a2e;
}

.circleOfBiomedica {
    display: none;
    opacity: 0;
    transform: scale(0.8);
    background-color: #a90a2e;
}

.circleOfIndustrial {
    display: none;
    opacity: 0;
    transform: scale(0.8);
    background-color: #a90a2e;
}



.career {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-size: 10px;
}

.career1 {
    top: 0;
    left: 0;
    background-color: #e74c3c;
    border-top-left-radius: 100% 100%;

}

.career:hover {
    background-color: #333333;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

.career2 {
    top: 0;
    right: 0;
    background-color: #3498db;
    border-top-right-radius: 100% 100%;
}

.career3 {
    bottom: 0;
    left: 0;
    background-color: #2ecc71;
    border-bottom-left-radius: 100% 100%;
}

.career4 {
    bottom: 0;
    right: 0;
    background-color: #9b59b6;
    border-bottom-right-radius: 100% 100%;
}



.inner-ring {
    position: absolute;
    top: 20%; 
    left: 20%; 
    width: 60%; 
    height: 60%; 
    background-color: white; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 9999; 
}


.circleOfFaculty{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    transition: transform 0.3s ease;
    margin-top: 5%;
}

.faculty {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-size: 10px;}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering:optimizeSpeed ;
}

.faculty:hover {
    background-color: #333333;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

.faculty1 {
    top: 0;
    left: 0;
    background-color: #e74c3c;
    border-top-left-radius: 100% 100%;
}

.faculty2 {
    top: 0;
    right: 0;
    background-color: #3498db;
    border-top-right-radius: 100% 100%;
}

.faculty3 {
    bottom: 0;
    left: 0;
    background-color: #2ecc71;
    border-bottom-left-radius: 100% 100%;
}

.faculty4 {
    bottom: 0;
    right: 0;
    background-color: #9b59b6;
    border-bottom-right-radius: 100% 100%;
}



.site-footer {
    background-color: #a90a2e;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.footer-section {
    padding: 0;
    font-size: 12px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}